@model CMSPlus.Domain.Models.CommentModels.CommentModel

<div class="card mt-2">
    <div class="card-body">
        <div class="mb-3">
            <p>{Comment}</p>
            <p>Posted by {FullName} on {Date}</p>
            <hr />
        </div>
        <div class="mb-3">
            <p>{Comment}</p>
            <p>Posted by {FullName} on {Date}</p>
            <hr />
        </div>
    </div>
</div>
